img input {
    display: inline-block;
    
}

ul li {
    display: inline-block;
    
}
li{
    padding-left: 5%; 
}


nav{
    text-align: center;
    background-color: rgb(205, 207, 69);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: center;

}

input{
    border-radius: 10px;
    text-align: center;
    max-width: 100%;
    width: 80%;
    background-color: rgb(229, 247, 247);
}

img{
    border-radius: 10px;
}


html{
    background-color: rgb(221, 228, 192);
    align-items:baseline;
}

#t1{
    background-color: rgb(29, 95, 84);
    width:auto;
    border-radius: 10px;
    empty-cells: hide;
    
}

#td1{
 background-color: bisque;
 border-radius: 10px;
 
}
